
body{
    font-family: 'Lobster'
}

.btn{
    border: 1px solid transparent;
    border-radius:8px;

    padding:8px 16px; 
    text-decoration:none; 
    font-family: 'Lobster';
}

.btn--primary{
    background:rgba(26, 35, 126, 1);
    color:rgb(0, 0, 0);
}

.btn--primary:hover{
    background:rgb(10, 226, 241);
}

.btn--secondary{
    background:rgb(255, 0, 0);
    color:rgb(0, 0, 0);
}

.btn--secondary:hover{
    background:rgb(228, 131, 184);
}

.btn--tertiary{
    background:rgb(53, 44, 182);
    color:rgb(0, 0, 0);
}

.btn--tertiary:hover{
    background: rgb(61, 209, 214);
}